# data science and numerical computing
numpy
scipy
scikit-learn

spacy

tensorboardX
regex

tensorflow
ftfy==5.1
tensorboardX
tqdm
pandas
ipython

nltk

-e git+https://github.com/csbhagav/pytorch-transformers@generative-finetuning#egg=pytorch-transformers

allennlp

torchvision

OpenNMT-py

-e git+ssh://git@github.com/allenai/comet-public.git@init-public-repo#egg=comet